@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-family: "Roboto", sans-serif;
    --primary-bg-color: #2e2a27;
    --primary-text-color: #e8e2da;
}
/* dark theme class */
.dark-theme{
     --primary-bg-color: #e8e2da;
    --primary-text-color: #2e2a27;
}

body {
    height: 100%;
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
    font-optical-sizing: auto;
    transition:all 3s;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Image parallax section */
.cover-image {
    width: 100%;
    height: 100vh;
    background-image: url("./new_assets/main_bg_pic.jpg");
    background-size: cover;
   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*this is the key for parallax image*/
}

/* header style */
.is--nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-bg-color);
    transition: all 3s;
}
#site-header {
    width: 100%;
    z-index: 10;
    text-align: center;
    color: white;
    background-color: var(--primary-bg-color);

    & .site-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: var(--primary-text-color) 1px solid;
        color: var(--primary-text-color);
        margin: 0 2rem;

        & ul {
            display: flex;
            gap: 1rem;
            list-style: none;

            & li a {
                color: var(--primary-text-color);
                text-transform: uppercase;
                font-size: 1.6vw;
                letter-spacing: -1px;
                font-weight: 500;

                &:hover {
                    color: #8c8c8c;
                }
            }
        }
        /* site title styleing  */
        & .site-title {
            font-size: 1.8vw;
            font-weight: 700;
            letter-spacing: -1px;
            /* transform: translateY(-140px); */
        }
        /* copy right styling */
            & .copy-right {
               text-transform: uppercase;
               font-size: 1.6vw;
               font-weight: 500;
            }
    }
}
/* styele main tag */
#site-main{
    /* á¸iscover section styling */
    & #discover{
        display: flex;
        justify-content: center;
        & .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 8.79rem;
            text-align: center;
            & .slide{
                width: 80vw;
                max-width: 80vw;
                margin: 2px;
                /* background-color: red; */
                overflow: hidden;
               
            }

            & .slide > h1{
                display: block;
                font-size: 13.8vw;
                font-weight: 700;
                color: var(--primary-text-color);
                letter-spacing: -1px;
                line-height: 0.8 ;
                &.lightwidth{
                    font-weight: 300;
                    font-style: italic;
                }
            }

        }
    }
    /* image section styling */
    & #image-section{
    & .cover{
        position: relative;
        height : 130vh;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top:-8%;
            left:0;
            clip-path: circle(20% at 50% 50%);
        }
        }
    }
    /* tag section styling */
    #tag-section{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        & .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            width: 100rem;

            & >span{
                font-size: clamp(1.5rem,3vw,4rem);
                font-weight: 700;
                letter-spacing: -1px;
                color: var(--primary-text-color);
                margin-bottom:1rem ;
                border: 1px solid var(--primary-text-color);
                padding: 1rem 4rem;
                border-radius: 100vw;
            }
        }

    }
    /* furniture section styling*/
& #furniture-section{
   
        height: 100vh;
        position: relative;
        margin: 0 2rem;
        & .container{
            & .furniture-title{
              bottom: 0;
              font-size: 14vw;
              font-weight: 700;
              letter-spacing: -5px ;
              color: var(--primary-text-color);
              margin: 1rem;
            }
            & .grid-wrapper{
                width: 100%;
                height: 100vh;
                & .grid-items{
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    gap: 8vw;
                    /* select all images */
                    & .box > img{
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }
                    & > *{
                        flex:1;
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;

                    }
                    & :nth-child(1){
                        aspect-ratio: 1/1.8;
                        flex-basis: 150px;
                        transform: translateY(40%);
                    }
                    & :nth-child(2){
                        aspect-ratio: 1/1.4;
                        flex-basis: 120px;
                        transform: translateY(60%);
                    }
                    & :nth-child(3){
                        aspect-ratio: 1/1;
                    
                        transform: translateY(-120%);
                    }
                    & :nth-child(4){
                        aspect-ratio: 1/1.4;
                        flex-basis: 200px;
                        transform: translateY(60%);
                    }
                    }
                }
            }
        }
    }
